{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="head">
    <div class="container" style="background-color: aqua;">
        <div class="my-5" >
            <h1>What's the weather </h1>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
   <div class="col-md-4 offset-md-4">
    <div class="input-group mb-3">
        <form method="POST">
        <input type="text" class="form-control" placeholder="City Nme" aria-label="Recipient's username"
            aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add City</button>
        </div>
        </form>
    </div>
    </div>
</div>
</div>


    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4">

                    {% for weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/10d.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city}}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature}}</span>
                                        <br>{{ weather.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>

{% endblock%}
